body {
  background-color: #fcf1e1;
}
.navigation {
  /*background: url(../img/welcome.jpg);*/
  background-repeat: no-repeat;
  background-size:cover
}

nav {
  text-align: center;
  margin: auto;
  font-family: Trebuchet MS, sans-serif;
  font-size: large;
}

.dropdown-menu {
  background-color: #e6daca;
  opacity: 0.8;
}

#story h2 {
  text-align:center;
  color: #616161;
  font-family: Trebuchet MS, sans-serif;
}
#story h5{
  text-align:center;
  color: gray;
  margin-top: 40px;
  margin-left:auto;
  margin-right: auto;
  width: 50%;
  line-height: 200%;
  font-family: Trebuchet MS, sans-serif;
}

#imageCarousel{
  margin: 3% auto;
  width:40%;
}

#tea-gallery{
  text-align: center;
  color: #616161;
  font-family: Trebuchet MS, sans-serif;
}
#tea-gallery h2 {
  margin-top: 3%;
}
.tea{
  width: 228px;
  height: 250px;
}
.card{
  background-color: #ccb79b;
  margin-left: auto;
  margin-right: auto;
  width: 230px;
}

#findStore{
  text-align: center;
  color: #616161;
  font-family: Trebuchet MS, sans-serif;
}
#footer{
  background-color: #2E0000;
  padding: 1%;
}
#footer a:link{
  color: white;
}
#footer a:visited{
  color: white;
}
#footer-logo{
  float: left;
  color: white;
}
.copyright{
  text-align: left;
  color: grey;
  font-size: .80em;
  font-style: italic;
}
#sign_float{
  width:90px;
  height:25px;
  position:fixed;
  right:0;
  top:100px;
}
#sign_in{
  border-color: #ccb79b;
  background-color: #ccb79b;
  font-family: Trebuchet MS, sans-serif;
  color: #616161;
}
#dialogOrd{
  padding: 15px;
  width: 500px;
  height: 300px;
  background-color: #fcf1e1;
  margin: auto;
  position: fixed;
  display: none;
  z-index: 2;
  top: 100px;
  left: 400px;
}
#body_light{
  opacity: 0.8;
  width: 100%;
  height: 100%;
  background: #000;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  z-index: 1;
}
#dialogBtn{
  position: relative;
  left: 450px;
  top: 0px;
}
