.coupon{
    float: left;
    width: 80%;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.coupon_left{
    background-color: #11cfea;
    border-right: dashed #ba5353 1px;
    display: block;
    float: left;
    height: 70px;
    width: 15%;
    border-radius: 6px 6px 6px 6px;
    text-align: center;
}
.coupon_left button{
    border: none;
    margin-top: 10px;
    border-radius: 2px 2px 2px 2px;
    width: 80%;
    background-color: #677eff;
}
.coupon_left span{
    margin-top: 5px;
}


.coupon_right{
    background-color: #757979;
    width: 30%;
    display: block;
    height: 70px;
    border-radius: 6px 6px 6px 6px;
}

.coupon_left_type2{
    background-color: #30a31b;
    border-right: dashed #ba5353 1px;
    display: block;
    float: left;
    height: 70px;
    width: 15%;
    border-radius: 6px 6px 6px 6px;
    text-align: center;
}

.coupon_left_type2 button{
    border: none;
    margin-top: 10px;
    border-radius: 2px 2px 2px 2px;
    width: 80%;
    background-color: #b2b4bf;
}

.coupon_left_type2 button a{
    display: block;
}
.coupon_right_type2{
    background-color: #dbaa1a;
    width: 30%;
    display: block;
    height: 70px;
    border-radius: 6px 6px 6px 6px;
}