*, *:before, *:after {
  box-sizing: border-box;
}

#profile-main {
  width: 80%
}

.profile-error {
  color: red
}

#profileLable {
  font-weight: bold;
}

/* input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 2px solid #aaa;
  border-radius: 10px;
  display: block
}  */