#content {
    padding: 20px;
    margin-left: 20%;
}
#picture {
    float: left;
    width: 300px;
    height: 350px;
    padding: 20px;
}

#option {
    margin-left: 400px;
}

#footer {
    clear:left;
}